body{
  background-color: #F6F6F6;
  font-family: 'Mukta', sans-serif;
  color:#333333;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
}
h1,h2,h3{
  font-family: 'Lusitana', serif;
  color: rgb(0,0,0);
}
h1{
  font-size:38px;
  line-height: initial;
}
h2{
  font-size: 20px;
}
a{
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover{
  color: #545454;
  text-decoration: none;
 }

/* Classes */
@media (min-width: 721px) {
  .container {
    width: 700px;
    margin: 50px auto;
  }
  .cardcontainer {
  display: inline-flex;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 50px auto;
  }
  .cardcontainer{
    display: block;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 50px auto;
  }
}
.card-white{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px 0px;
  text-align: center;
}
.img-circle{
  border-radius: 50%;
}
.smallcard-green {
  background-color: #0CE494;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
.list-links{
  list-style: none;
  padding-left: 0px;
}
.list-links li {
  margin-bottom: 15px;
  text-align: left;
}
.list-horizontal {
  list-style: none;
  padding-left: 0px;
}
.list-horizontal li {
  display: inline;
  padding: 0px 20px;
}
.btn-green{
  background-color: #0CE494;
  padding: 5px 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 20px;
}
.btn-green:hover {
  color: blue;
}
.btn-white{
  background-color: white;
  padding: 2px 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
}
.btn-white:hover {
  color: blue;
}
.btn-font{
  font-family: 'Lusitana', serif;
}
.btn-logo{
  font-size: 35px;
}
.btn-logo:hover {
  color: blue;
}
.list-left{
  text-align: left;
}
@media (min-width: 721px) {
  .card-green{
    background-color: #0CE494;
    margin: 10px 190px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 720px) {
  .card-green{
    background-color: #0CE494;
    margin: 10px 90px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 540px) {
  .card-green{
    background-color: #0CE494;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
  .list-horizontal li {
    display: inline;
    padding: 0px 10px;
  }
}

/* id */
@media (min-width: 721px) {
  #img-rounded{
    border-radius: 4px;
    margin-top: 30px;
    width: 300px;
  }
}
@media (max-width: 720px) {
  #img-rounded{
    border-radius: 4px;
    margin-top: auto;
    width: 200px;
  }
}
@media (max-width: 540px) {
  #img-rounded{
    border-radius: 4px;
    margin-top: 10px;
    width: 150px;
  }
}
#spacing-btn p{
  margin-bottom: 25px;
}
